.cardMost {
    display: flex;
    gap: 0.5rem;
    margin: 0.4rem;
    width: 17rem;
    height: 4.5rem;
    align-items: center;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 0 20px rgb(169, 160, 228);
    padding: 0.3rem;
}

.cardMost:hover {
    transform: scale(1.03);
    background-color: slateblue;
    color: white;
    transition: all ease-in-out 200ms;
}

.dataMost {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.cardMostImage {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 8px;
}

.priceMost {
    font-size: 14px;
    font-weight: bold;
}